:root {
    --primary:  #2563EB;
    --primary-hover: #1D4ED8;
    --text-dark: #0F172A;
    --text-gray: #475569;
    --background: #F8FAFC;
    --border: #E2E8F0;
    --white: #FFFFFF;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.small {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.btn {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 24px;
}

.hero {
  min-height: 90vh;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
    padding: 33px 16px 10px 16px;
}

.hero-text p {
    text-align: justify;
}

.hero-image {
    border-radius: 16px;
    background-color: var(--background);
    box-shadow: 0px 10px 30px rgb(0 0 0 /0.08);
    width: 100%;
    height: 360px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 8px;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
}

.btn-secondary {
    background-color: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 12px 24px;
    border-radius: 8px;
    text-align: center;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: var(--primary-hover);
    color: var(--white);
}

a {
    text-decoration: none;
}

.oferta-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid var(--border);

}

.card-image {
    width: 24px;
}

.card h3 {
    color: var(--text-dark);
}

.card p {
    color: var(--text-gray);
}

.dlaczego-ja-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;

}

.dlaczego-ja-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 38px;
    padding-bottom: 38px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-position: inside;
    gap: 10px;
}
ul li {
    list-style-image: url("./assets/check-icon.png");
}